@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* VARIABLES */
:root{
    --primary__clr: hsl(223, 89%, 21%);
    --white__accent__clr: hsl(0, 0%, 100%);
    --btn__clr: hsl(223, 100%, 9%);
}
/* BASE STYLES */
body {
    width: 100%;
    font-size: 16px;
    color: var(--primary__clr);
    background-color: var(--white__accent__clr);
}

h1 {
    width: 50%;
    font-size: 6em;
    font-weight: 100;
    line-height: 1.3;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin-right: 5em;
}


li:hover {
    padding-bottom: .5em;
    border-bottom: solid thin var(--primary__clr);
}
a {
    text-decoration: none;
    color: inherit;
}
/* LAYOUT */
header {
    width: 100%;
    height: 80vh;
    background-image: url(/assets/stylist__2.jpg);
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 30em;
    border-bottom-right-radius: 10em;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 9vh;
    margin-bottom: 6em;
    background-color: var(--white__accent__clr);
}

.company {
    font-size: 4em;
    font-weight: 600;
    font-family: 'Ms Madi', Arial, Helvetica, sans-serif;
}

.book__app {
    font-weight: 600;
}

.fa-minus {
    padding-right: 1em;
}

.fa-layers-counter {
    color: var(--white__accent__clr);
    background-color: var(--primary__clr);
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30vh;
    color: var(--white__accent__clr);
}

.content__left {
    margin-left: 15em;
}

.content__right {
    font-size: .7em;
    transform: rotate(90deg);
}

.tagline {
    margin-bottom: 2em;
}

.services__btn {
    background-color: var(--btn__clr);
    padding: 1em 1em;
}

.pages {
    float: right;
    margin-right: 9em;
    padding-top: 20em;
    color: var(--white__accent__clr);
}

.discount {
    width: 10%;
    height: 20vh;
    margin-left: 15em;
    margin-top: 20em;
    padding-top: .5em;
    background-color: var(--btn__clr);
    color: var(--white__accent__clr);
}

.first {
    padding: 1em 1em;
    margin: 1em 0;
    border-left: solid medium var(--white__accent__clr);
}

.percent {
    margin-left: 1em;
    margin-bottom: 3em;
}

.twenty {
    font-size: 2em;
}

.order__btn {
    margin-left: 1em;
    padding: 1em 1em;
    background-color: var(--white__accent__clr);
    color: var(--primary__clr);
}